.containDialog {
   @apply rounded-md relative p-0
}

.containDialog::backdrop {
    background: rgb(0 0 0 / 0.4);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
