@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input{
    display: flex;
    flex-direction: column;
    @apply flex gap-2;
 
}

.form-input input{
    outline: none;
    box-shadow: 0px 0px 3px 0px #6a6a6a ;
    @apply  py-1 px-2 rounded-md
}

.invalid input{
    box-shadow: 0px 0px 3px 0px #ED1C24;
}